
.gfg {
  margin: 2%;
  position: relative;
}

.first-txt {
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: xx-large;
  color: white;
  
}
.second-txt {
  position: absolute;
  bottom: -20px;
  left: 150px;
  font-size:xx-large;
  color:  white;
}
  .details {
    position:absolute;
    top: 300px;
    left: 400px;
    font-size:xx-large;
    font-style: italic;
    color:  black
  }

.span {
  color: crimson;
}
.column {
  font-size: 21px;
  padding: 0px;
  width: 50%;
  height: 280px;
  float: left;
  margin: auto;
  border-radius: 10px;
  background-color: #f02da5;
}
  
.column1 {
  font-size: 23px;
  width: 50%;
  height: 280px;
  float:left;
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  background-color: #f02da5;
}
.format1{

  width: 40%;
  height: 200px;
  float:left;
  padding: 0px;
  margin:auto;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
}
.format2{
  width: 60%;
  height: 200px;
  float:left;
  padding:0px;
  margin: auto;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
}

.format3 {
  width: 40%;
  height:200px;
  float:left;
  padding: 0px;
  margin:auto;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
}
.format4 {
  width: 60%;
  height:200px;
  float:left;
  padding: 0px;
  margin:auto;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
  
}
.format5 {
  width: 40%;
  height: 200px;
  float:left;
  padding: 0px;
  margin: auto;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
  
}
.format6 {
  width: 60%;
  height: 200px;
  float:left;
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
}

.format7 {
  width: 1200px;
  float:left;
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  overflow: auto;
  font-family:sans-serif;
}

.format8 {
  font-size: 15px;
  width: 1200px;
  height: 150px;
  float:left;
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
}
.format9 {
  font-size: 15px;
  width: 1200px;
  height: 180px;
  float:left;
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1500px) {
  body {
    background-color: yellowgreen;
    background-image:url(/img/Nairobi\ Skyline.png)
        }
  p { color: rgb(245, 8, 166); font-size: 16px; font-weight: 1000; }
  h2 {color: rgb(240, 8, 8); font-weight: 1000}
  ul {color: rgb(19, 3, 245)}
  }