.column {
  font-size: 21px;
  padding: 6px;
  width: 550px;
  height: 320px;
  float: left;
  margin: 10px;
  border-radius: 10px;
  background-color: #f02da5;
}
  
.column1 {
  font-size: 23px;
  width: 550px;
  height: 320px;
  float:right;
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
  background-color: #f02da5;
}


@media screen and (min-width: 1000px) {
  body {
    background-color: yellowgreen;
        }
  p { color: white; font-size: 16px; font-weight: 1000; }
  h2 {color: rgb(240, 8, 8); font-weight: 1000}
  ul {color: rgb(19, 3, 245);font-size:20px}

  }